*,
*:before,
*:after {
	box-sizing: border-box;
}
.container {
	width: 50vw;
	height: 100vh;
	align-self: center;
	top: 50%;
	left: 50%;
	z-index: 1;
    border-radius: 50%;
}
.leaderboard {
	background: grey
}
.leaderboard ol {
    counter-reset: number;

}
.leaderboard li {
	padding: 16px;
	display: flex;
    border: 1px solid rgb(0,250,154)
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; 
	content: counter(number) ".";
	margin-right: 4px;
}
.leaderboard-body {
	font: 16px/1.2 "Roboto", sans-serif;
	background-image: linear-gradient(315deg, #a7f58c 0%, #4EAAE3 100%);
    box-shadow: 1px 3px #888888;

}
.leaderboard li:nth-child(1) {
	background: #63fa55;
}
.leaderboard li:nth-child(2) {
	background: #51cf46;
}
.leaderboard li:nth-child(3) {
	background: #48b83e;
}
.leaderboard li:nth-child(4) {
	background: #3c9c34;
}
.leaderboard li:nth-child(5) {
	background: #3b9932;
}