*,
*:before,
*:after {
	box-sizing: border-box;
}
.container {
	width: 50vw;
	height: 100vh;
	align-self: center;
	vertical-align:middle;
	margin-top: auto;
	margin-left: auto;
	z-index: 1;
    border-radius: 50%;
}
.leaderboard {
	background: transparent;
}
.leaderboard ol {
    counter-reset: number;
}
.leaderboard li {
	padding: 1em;
	display: flex;
    border: 1px solid rgb(0,250,154)
}

.leaderboard-body{
	width: 50.5vw !important;
	margin-left: -1.65vw;
}

.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number; 
	content: counter(number) ".";
	margin-right: 4px;
}

.leaderboard li:nth-child(1) {
	background: #5cf34e;
}
.leaderboard li:nth-child(2) {
	background: #51cf46;
}
.leaderboard li:nth-child(3) {
	background: #48b83e;
}
.leaderboard li:nth-child(4) {
	background: #3c9c34;
}
.leaderboard li:nth-child(5) {
	background: #3b9932;
}

.leaderboard li:nth-child(n+6) {
	background: #31862b;
}


@media (max-width: 768px) {
	.container{
		display: inline-block;
		margin-top:10vh;
		margin-left:15vw;
		width:70vw;
		text-align:left;
	}
}