
.horosho{
    color:pink;
}
.bckg{
    width: 40%;
    overflow:scroll;
}
.hidden-button{
    background: transparent;
    border:none;
    color:white;
    align-items: left;
}
.container-text{
    overflow:hidden;
    white-space: nowrap;
}
.container-text-break{
    overflow-wrap:break-word;
}
.adds-big-container{
    margin: auto;
    width: auto;
    height:auto;
    border: 3px solid #73AD21;
    padding: 10px;
    border: 1px solid rgb(63, 221, 84);
    border-width : 5px;
    box-sizing: border-box;
    border-radius:10px;
    text-align: left;
}
.adds-small-container{
    margin: auto;
    width: auto;
    height:auto;
    border: 3px solid #73AD21;
    padding: 10px;
    border: 1px solid rgb(154, 245, 94);
    border-width : 5px;
    box-sizing: border-box;
    border-radius:10px;
    margin-bottom:10px;
    text-align: left;
}
.device-size{
    height:100vh;
    width:35vw;
    float:left;
}

.map{
    
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .device-size{
        height:auto;
        width:100vw;
    }

    .map{
        display:inline-block;
        margin-left:0px;
        margin-top:0px;
    }
}

