#profile-pic {
    background: lightblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    clear:both;
    margin-left: 200px;
}

.profile-container{
    height:30vh;
    width:30vw;
    
    clear:both;
}