#profile-pic {
    background: lightblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    clear:both;
    text-align:center;
    margin: auto;
}
.profile-container{
    height:80vh;
    width:40vw;
    
    clear:both;
}