.background-gradient{
    background-color: #4EAAE3;
    background-image: linear-gradient(315deg, #a7f58c 0%, #4EAAE3 100%);
    color:white;
    overflow: scroll;
}

.navbar-font{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 550 !important;
    color: #fff !important;
    font-size: 0.875em;
    letter-spacing: 0.063em;
    position: static
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-radius: 0px;
}
  
.custom-toggler.navbar-toggler{
    border-color: rgb(202,229,255)
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.current-page{
    color: #008e95 !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: 0.2em;
    left: 0;
    background-color: #00a6b5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-current {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation-current:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: 0.2em;
    left: 0;
    background-color: #91b483;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation-current:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}